#ul.menu{
  list-style:inside square none;
  float:left;
  float: Top;
  text-align: left;
}

#menu li{
  border:1px solid green;
  float:left;
  background-color:rgb(238,238,238);
  padding:11px;
  width: 100px;
  text-decoration: none;
}

a:link{
  color: black;
}

a.active link{
  background-color: blue
}

#menu  li:hover{
  overflow:hidden;
  background-color:black;
  border-color:blue;
  font-size:19px;
}

h1 {
  border:2px solid black;
  float:left;
  background-color: lightblue;
  position: absolute;
}

body{
  background-color:gray;
  float:left;
  background-repeat: repeat;
}

.favorietedingen{
  border-radius:7px;
  border:2px solid;
  border-color:black;
  position: fixed;
  background-color:lightblue;
}

p{
  border:1px solid;
  float: left;
  border-color:black;
  background-color:lightblue;
}

#Idk{
  background-color:lightblue;
  border-color:black;
  border:2px black;
}

 footer {
  position:absolute;
  overflow:auto;
  list-style: inside square none;
  bottom: 50px;
  right: 10px;
  font-size:25px;
}

footer:link {
  color: red;
}

.games{
  color: blue;
  list-style-position: inside square none;
  border: 5px solid;
  background-color: lightblue;
}
