.navbar {
  overflow:auto;
  background-color:##1bc4bc;
  font-family: 'Raleway', sans-serif;
  box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.5);
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

body:before {
content: "";
display: block;
width: 100%;
height: 100%;
position: fixed;
left: 0;
top: 0;
z-index: -10;
background-image: https://www.google.com/url?sa=i&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FSteve_Jobs&psig=AOvVaw1nOjoeeiwp2rr_26Q4Xvjg&ust=1581687540494000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJjUtrLTzucCFQAAAAAdAAAAABAD
background-repeat: no-repeat;
background-size: cover;
background-position: left top;
background-color: lightblue;

.mail{
  overflow: auto;
  background-color: #41843f;
  font-family: 'Raleway', sans-serif;
  box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.5);
  border: 15px solid blue;
  border-radius: 15px;
  border-color: #41843f;
  position: fixed;
  bottom:10px;
  right: 10px;
}

.textbox{
    margin-top: 25px;
    float: left;
    background: #39728E;
    border-color: : red
    border-radius: 10px;
    line-height: 30px;
    margin-right: 10px;
    width: 600px;
    padding:9px;
}
